footer {
    display: flex; 
    align-items: center; 
    margin-top: 300px;
    justify-content: center;
}

footer .logo{
    width: 10%;
}

.nav-footer{
    margin-left: 50px;
    display: flex;
}

.nav-footer nav{
    margin-left: 100px;
}

.navigation-footer{
    list-style: none;
    padding: 0;
}

.navigation-footer h1 {
    font-size: 25px;
    margin: 0;
}

.navigation-footer li {
    margin-right: 16px;
}

.navigation-footer p {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}

@media (max-width: 1100px) {

    footer{
        margin-top: 50px;
    }

    footer .logo{
        width: 18%;
    }

    .nav-footer{
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .nav-footer nav{
        margin-left: 80px;
    }
    

    .navigation-footer h1 {
        font-size: 15px;
    }

    .navigation-footer li {
        margin-right: 0px;
    }

    .navigation-footer p {
        font-size: 13px;
    }
}

@media (max-width: 650px) {
    footer .logo{
        width: 30%;
    }

    .nav-footer nav{
        margin-left: 40px;
    }
}