body {
    font-family: "Open sans";
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url('https://drive.google.com/uc?id=1idfiVXp_CUfWUADeSTXLAAkpB3r0VNW3');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 100px;
}

.main-logo img {
    max-width: 100%;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.icon-social {
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.icon-social:hover {
    transform: scale(1.2);
}

.spotify-container{
    margin-top: 500px; 
    display: flex;
}

.spotify-btn{
    transition: transform 0.3s ease-in-out;
}

.spotify-btn:hover{
    transform: scale(1.2);
}

.spotify-description{
    color: #fff;
    font-size: 50px;
    margin-top: 100px; 
    text-align: center;
}

iframe{
    width: 1000px;
    height: 450px;
    border-radius: 12px; 
    padding-right: 50px;
}


@media (max-width: 1100px) {
    body{
        margin-left: 25px;
        margin-right: 25px;
    }

    .main-logo {
        margin-top: 30px;
    }

    .main-logo img {
        max-width: 50%;
    }

    .icon-container{
        max-width: 100%;
    }

    .icon-container img{
        width: 50px;
    }
    
    iframe {
        width: 500px;
        margin: 0 auto;
        padding: 0;
    }

    .spotify-container{
        margin-top: 100px;
    }

    .spotify-description{
        margin-top: 50px;
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    iframe {
        width:300px;
    }

    .spotify-description{
        font-size: 30px;
    }
}