body {
    font-family: "Open sans";
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url('https://drive.google.com/uc?id=1idfiVXp_CUfWUADeSTXLAAkpB3r0VNW3');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}

.item-content p{
    text-align: center
}

.item-btn{
    font-family: "Open sans";
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    background-color: transparent;
    border: #fff solid 2px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.item-btn:hover{
    transform: scale(1.1);
}