body {
    font-family: "Open sans";
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url('https://drive.google.com/uc?id=1idfiVXp_CUfWUADeSTXLAAkpB3r0VNW3');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}
  
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.scrollable-container {
  width: 1000px;
  overflow: auto;
}

.profile-container {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
}

.user-email {
  color: #000000;
  text-align: center;
  font-size: 30px;
}

.order-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: 20px;
  background-color: #000000;
  border-radius: 30px;
  border: #000 solid 2px;
  position: relative;
}

.order-image {
  width: 100px;
  height: 1;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.order-container p {
  color: white;
  font-weight: 100;
  margin-left: 10px;
  margin: 0;
}

.order-description {
  flex-grow: 1;
  padding: 15px;
}

@media (max-width: 1100px) {
  body{
    margin-left: 25px;
    margin-right: 25px;
  }

  .profile-container{
    width: 250px;
  }

  .scrollable-container {
    width: 250px;
    overflow: auto;
  }

  .user-email {
    font-size: 20px;
  }
}