body {
    font-family: "Open sans";
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url('../img/background2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-container {
    flex: 0 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #C6C5C3;
    width: 300px;
    height: 350px;
    border-radius: 30px;
    margin-right: 100px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.category-container:hover{
    transform: scale(1.2);
}
    
.content {
    border-radius: 30px 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    color: white;
}

.content h2{
    padding: 5px;
    margin: 0;
}
