<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/cart.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="../static/img/purchase.png" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="../static/img/account.png" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="cart-container">
            <div class="content">
                <div class="flex-container">
                  <div class="scrollable-container">
                      <div class="content">
                          <div class="order-container">
                              <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                              <div class="order-description">
                                  <p>Футболка OVERSIZE ЛСП-WHITE</p>
                                  <p>Размер: S</p>
                                  <p style="font-size: 20px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во 1</p>
                                  <p style="font-size: 20px; font-weight: bold; margin: 0; padding-bottom: 50px;">Цена: 4300 ₽</p>
                              </div>
                              <div class="order-delete">
                                  <img src="../static/img/trash.png" width="30" alt="">
                              </div>
                              <div class="order-footer">
                                  <button class="order-footer-btn">Купить</button>
                              </div>
                          </div>
                          <div class="order-container">
                              <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                              <div class="order-description">
                                  <p>Футболка OVERSIZE ЛСП-WHITE</p>
                                  <p>Размер: S</p>
                                  <p style="font-size: 20px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во 1</p>
                                  <p style="font-size: 20px; font-weight: bold; margin: 0; padding-bottom: 50px;">Цена: 4300 ₽</p>
                              </div>
                              <div class="order-delete">
                                  <img src="../static/img/trash.png" width="30" alt="">
                              </div>
                              <div class="order-footer">
                                  <button class="order-footer-btn">Купить</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="order-description-right">
                      <div class="order-coupone">
                        <input type="text" class="order-coupone" placeholder="Купон"><br>
                        <button style="cursor: pointer;" class="order-coupone-submit">Применить</button>
                      </div>
                      <div class="order-sum">
                        <p>Товары: 10000 ₽</p><br>
                        <p>Доставка: 2000 ₽</p><br>
                        <p>Комиссия доставки: 600 ₽</p><br>
                        <p style="font-size: 20px;">ИТОГО: 12600 ₽</p><br>
                        <button style="cursor: pointer;" class="order-payment">Оплатить</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </main>  

    <footer style="margin-top: 200px; height: 300px;">
        <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 10%;">
        <div class="nav-footer">
          <nav>
            <ul class="navigation-footer">
              <h1>Информация</h1>
              <li><p>Публичная оферта</p></li>
              <li><p>Возврат товара</p></li>
              <li><p>Оплата</p></li>
              <li><p>Сервис и поддержка</p></li>
              <li><p>Как оформить доставку</p></li>
              <li><p>Таблица размеров</p></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <h1>Быстрые ссылки</h1>
              <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <h1>Ресурсы</h1>
              <li><p>Help</p></li>
              <li><p onclick="window.location='../templates/profile.html'">Личный кабинет</p></li>
            </ul>
          </nav>
        </div>
      </footer>
</body>
</html>