<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/category.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><a href="../templates/index.html">Главная</a></li>
            <li><a href="../templates/shop.html">Магазин</a></li>
            <li><a href="../templates/concert.html">Концерты</a></li>
            <li><a href="../templates/contact.html">Контакты</a></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="../static/img/purchase.png" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="../static/img/account.png" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div style="width: 100%; text-align: center; margin-bottom: 20px;">
            <p style="font-size: 50px; margin: 0px;">ХУДИ</p>
        </div>
        <div class="category-container">
            <div class="content">
                <img src="../static/img/hydi.png" alt="">
                <p style="margin: 0;">Худи «Плевок в вечность» minimal red</p>
                <p style="margin: 0; margin-bottom: 15px; font-size: 20px;">4300 ₽</p>
                <div class="category-footer">
                    <button class="concert-btn" onclick="window.location.href='../templates/item.html'">Купить</button>
                    <img src="../static/img/add-to-cart.png" width="30px" style="border-radius: 0px;" alt="">
                </div>
            </div>
        </div>
        <div class="category-container">
          <div class="content">
              <img src="../static/img/image 5.png" alt="">
              <p style="margin: 0;">Худи «Плевок в вечность» minimal purple</p>
              <p style="margin: 0; margin-bottom: 15px; font-size: 20px;">4300 ₽</p>
              <div class="category-footer">
                  <button class="concert-btn">Купить</button>
                  <img src="../static/img/add-to-cart.png" width="30px" style="border-radius: 0px;" alt="">
              </div>
          </div>
      </div>
      <div class="category-container">
        <div class="content">
            <img src="../static/img/image 5-1.png" alt="">
            <p style="margin: 0;">Худи «Плевок в вечность» minimal orange</p>
            <p style="margin: 0; margin-bottom: 15px; font-size: 20px;">4300 ₽</p>
            <div class="category-footer">
                <button class="concert-btn">Купить</button>
                <img src="../static/img/add-to-cart.png" width="30px" style="border-radius: 0px;" alt="">
            </div>
        </div>
    </div>
    </main>

    <footer style="margin-top: 200px; height: 300px;">
        <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 10%;">
        <div class="nav-footer">
          <nav>
            <ul class="navigation-footer">
              <p>Информация</p>
              <li><a href="#">Публичная оферта</a></li>
              <li><a href="#">Возврат товара</a></li>
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Сервис и поддержка</a></li>
              <li><a href="#">Как оформить доставку</a></li>
              <li><a href="#">Таблица размеров</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Быстрые ссылки</p>
              <li><a href="../templates/index.html">Главная</a></li>
              <li><a href="../templates/shop.html">Магазин</a></li>
              <li><a href="../templates/concert.html">Концерты</a></li>
              <li><a href="../templates/contact.html">Контакты</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Ресурсы</p>
              <li><a href="#">Help</a></li>
              <li><a href="../templates/profile.html">Личный кабинет</a></li>
            </ul>
          </nav>
        </div>
      </footer>
</body>
</html>