<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="../static/img/purchase.png" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="../static/img/account.png" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="contact-container">
            <div class="content">
                <p style="font-size: 20px; margin: 0;">Мерчь</p>
                <p style="font-weight: 100; margin: 0; padding-top: 10px;">
                    Часы работы:<br>
                    Пн – Пт с 10:00 до 21:00<br>
                    Суббота – с 11:00 до 19:00<br>
                    Воскресение – Выходной
                </p>
                <p style="font-size: 20px; font-weight: 100; font-style: italic; margin: 0; padding-top: 10px; color: #2063C8;">lspofficial@yandex.ru</p>
            </div>
        </div>
        <div class="contact-container">
            <div class="content">
                <p style="font-size: 20px; margin: 0;">Организация концертов в России</p>
                <p style="font-weight: 100; margin: 0; padding-top: 10px;">Лбов Михаил Вадимович</p>
                <p style="font-size: 20px; font-weight: 100; font-style: italic; margin: 0; padding-top: 10px; color: #2063C8;">concerts@rcunion.net<br>+7(931)006-80-10</p>
            </div>
        </div>
        <div class="contact-container">
            <div class="content">
                <p style="margin: 0;">Организация выступлений (Беларусь, Европа)</p>
                <p style="font-size: 20px; font-weight: 100; font-style: italic; margin: 0; padding-top: 10px; color: #2063C8;">yanpopkov@gmail.com<br>+375333315151</p>
            </div>
        </div>
        <div class="contact-container">
            <div class="content">
                <p style="font-size: 20px; margin: 0;">Менеджмент</p>
                <p style="font-size: 20px; font-weight: 100; font-style: italic; margin: 0; padding-top: 10px; color: #2063C8;">pr@rcunion.net</p>
            </div>
        </div>
        <div class="contact-container">
            <div class="content">
                <p style="margin: 0;">Связь с общественностью</p>
                <p style="font-size: 20px; font-weight: 100; font-style: italic; margin: 0; padding-top: 10px; color: #2063C8;">pr@rcunion.net</p>
            </div>
        </div>
    </main>

    <footer style="margin-top: 200px; height: 300px;">
      <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 10%;">
      <div class="nav-footer">
        <nav>
          <ul class="navigation-footer">
            <h1>Информация</h1>
            <li><p>Публичная оферта</p></li>
            <li><p>Возврат товара</p></li>
            <li><p>Оплата</p></li>
            <li><p>Сервис и поддержка</p></li>
            <li><p>Как оформить доставку</p></li>
            <li><p>Таблица размеров</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Быстрые ссылки</h1>
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
          <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
          <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
          <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Ресурсы</h1>
            <li><p>Help</p></li>
            <li><p onclick="window.location='../templates/profile.html'">Личный кабинет</p></li>
          </ul>
        </nav>
      </div>
    </footer>
</body>
</html>