<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="https://drive.google.com/uc?id=1jT3XRcriNJOa1ByymLdVV0-U9hiTLCP2" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="https://drive.google.com/uc?id=1IYTajJ87q9cucSeXSfdbsZsS_OEG_kGD" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
      <div class="main-logo"><img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt=""></div>
      <div class="icon-container">
        <a href="https://www.instagram.com/LSPolegi/" class="icon-social"><img src="https://drive.google.com/uc?id=1Jc1b7qbXr9ktdZsFszc_-bUFEZmXqu26" alt="instagram"></a>
        <a href="https://vk.com/lsp" class="icon-social"><img src="https://drive.google.com/uc?id=1YW_bGh-DwzYKKYiNbDD-xKgQ4iWIogyw" alt="vk"></a>
        <a href="https://www.youtube.com/channel/UCr19_2h5_vUv6T4Gbo4PU7w" class="icon-social"><img src="https://drive.google.com/uc?id=1tiAw7gyBDRSjW77BijwAmefKsJNEV9qF" alt="youtube"></a>
      </div>
    
      <div class="spotify-container" style="margin-top: 500px; display: flex;">
        <iframe style="border-radius: 12px; padding-right: 50px;" src="https://open.spotify.com/embed/artist/4h8pGxEIOi7j4me1yhYxlD?utm_source=generator" width="1000" height="450" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <p style="color: #fff; font-size: 50px; margin-top: 100px; text-align: center;">СЛЕДИ ЗА НАМИ<br>НА SPOTIFY<br><img class="spotify-btn" src="https://drive.google.com/uc?id=1fsJmw4pK6vWQ5x3oEH6aGDGK4K1Elal3" alt="" style="width: 40%; margin-top: 10px; cursor: pointer;" onclick="window.location.href = 'https://open.spotify.com/artist/4h8pGxEIOi7j4me1yhYxlD?go=1&sp_cid=eb5ca3cf64280586613386a6a564cde3&utm_source=embed_player_p&utm_medium=desktop&nd=1'"></p>
      </div>    
    </main>
    

    <footer style="margin-top: 200px; height: 300px;">
      <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 10%;">
      <div class="nav-footer">
        <nav>
          <ul class="navigation-footer">
            <h1>Информация</h1>
            <li><p>Публичная оферта</p></li>
            <li><p>Возврат товара</p></li>
            <li><p>Оплата</p></li>
            <li><p>Сервис и поддержка</p></li>
            <li><p>Как оформить доставку</p></li>
            <li><p>Таблица размеров</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Быстрые ссылки</h1>
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
          <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
          <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
          <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Ресурсы</h1>
            <li><p>Help</p></li>
            <li><p onclick="window.location='../templates/profile.html'">Личный кабинет</p></li>
          </ul>
        </nav>
      </div>
    </footer>
</body>
</html>
