<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/item.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="https://drive.google.com/uc?id=1jT3XRcriNJOa1ByymLdVV0-U9hiTLCP2" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="https://drive.google.com/uc?id=1IYTajJ87q9cucSeXSfdbsZsS_OEG_kGD" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="item-container" style="display: flex">
            <img src="https://drive.google.com/uc?id=1S0qbJoovpnluWhFPqXGB10jBJUGBv1HA" style="margin-right: 40px; border-radius: 30px">
            <div class="item-content" style="display: flex; flex-direction: column;">
                <p id="item-title" style="font-size: 30px">Худи «Плевок в вечность» minimal red</p>
                <div class="item-choose" style="font-size: 20px">
                    <p style="float: left">Размер:</p>
                    <div style="margin-top: 70px">
                        <input type="radio" id="S" name="size" value="S" checked>
                        <label for="S">S</label>
                    </div>
                    <div>
                        <input type="radio" id="M" name="size" value="M">
                        <label for="M">M</label>
                    </div>
                    <div>
                        <input type="radio" id="L" name="size" value="L">
                        <label for="L">L</label>
                    </div>
                    <div>
                        <input type="radio" id="XL" name="size" value="XL">
                        <label for="XL">XL</label>
                    </div>
                </div>
                <div class="item-price" style="font-size: 40px;">
                    <p style="float: right">Цена: 4300₽</p>
                </div>
                <div class="item-footer" style="text-align: center">
                    <button class="item-btn">Купить</button>
                    <img src="https://drive.google.com/uc?id=18Dfq3hAYjlPvR3co9Xy-oZ2_G_FkqIKq" width="30px" style="border-radius: 0px; margin-left: 20px" alt="">
                </div>
            </div>
        </div>
    </main>
    
    <footer style="margin-top: 200px; height: 300px;">
      <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 10%;">
      <div class="nav-footer">
        <nav>
          <ul class="navigation-footer">
            <h1>Информация</h1>
            <li><p>Публичная оферта</p></li>
            <li><p>Возврат товара</p></li>
            <li><p>Оплата</p></li>
            <li><p>Сервис и поддержка</p></li>
            <li><p>Как оформить доставку</p></li>
            <li><p>Таблица размеров</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Быстрые ссылки</h1>
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
          <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
          <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
          <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Ресурсы</h1>
            <li><p>Help</p></li>
            <li><p onclick="window.location='../templates/profile.html'">Личный кабинет</p></li>
          </ul>
        </nav>
      </div>
    </footer>
</body>
</html>