<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/item.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><a href="../templates/index.html">Главная</a></li>
            <li><a href="../templates/shop.html">Магазин</a></li>
            <li><a href="../templates/concert.html">Концерты</a></li>
            <li><a href="../templates/contact.html">Контакты</a></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="../static/img/purchase.png" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="../static/img/account.png" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="item-container" style="display: flex">
            <img src="../static/img/hydi.png" style="margin-right: 40px; border-radius: 30px">
            <div class="item-content" style="display: flex; flex-direction: column;">
                <p id="item-title" style="font-size: 30px">Худи «Плевок в вечность» minimal red</p>
                <div class="item-choose" style="font-size: 20px">
                    <p style="float: left">Размер:</p>
                    <div style="margin-top: 70px">
                        <input type="radio" id="S" name="size" value="S" checked>
                        <label for="S">S</label>
                    </div>
                    <div>
                        <input type="radio" id="M" name="size" value="M">
                        <label for="M">M</label>
                    </div>
                    <div>
                        <input type="radio" id="L" name="size" value="L">
                        <label for="L">L</label>
                    </div>
                    <div>
                        <input type="radio" id="XL" name="size" value="XL">
                        <label for="XL">XL</label>
                    </div>
                </div>
                <div class="item-price" style="font-size: 40px;">
                    <p style="float: right">Цена: 4300₽</p>
                </div>
                <div class="item-footer" style="text-align: center">
                    <button class="item-btn">Купить</button>
                    <img src="../static/img/add-to-cart2.png" width="30px" style="border-radius: 0px; margin-left: 20px" alt="">
                </div>
            </div>
        </div>
    </main>
    
    

    <footer style="margin-top: 200px; height: 300px; width: 100%">
        <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 10%;">
        <div class="nav-footer">
          <nav>
            <ul class="navigation-footer">
              <p>Информация</p>
              <li><a href="#">Публичная оферта</a></li>
              <li><a href="#">Возврат товара</a></li>
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Сервис и поддержка</a></li>
              <li><a href="#">Как оформить доставку</a></li>
              <li><a href="#">Таблица размеров</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Быстрые ссылки</p>
              <li><a href="../templates/index.html">Главная</a></li>
              <li><a href="../templates/shop.html">Магазин</a></li>
              <li><a href="../templates/concert.html">Концерты</a></li>
              <li><a href="../templates/contact.html">Контакты</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Ресурсы</p>
              <li><a href="#">Help</a></li>
              <li><a href="../templates/profile.html">Личный кабинет</a></li>
            </ul>
          </nav>
        </div>
      </footer>
</body>
</html>