<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="https://drive.google.com/uc?id=1jT3XRcriNJOa1ByymLdVV0-U9hiTLCP2" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="https://drive.google.com/uc?id=1IYTajJ87q9cucSeXSfdbsZsS_OEG_kGD" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="profile-container">
            <p class="user-email">lspofficial@yandex.ru</p>
            <div class="history-order">
                <p style="color: #000; font-size: 20px; margin: 0;">История заказов:</p>
                <div class="scrollable-container">
                    <div class="content">
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history-show">
                <p style="color: #000; font-size: 20px; margin: 0; padding-top: 10px;">История просмотров:</p>
                <div class="scrollable-container">
                    <div class="content">
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>    

    <footer style="margin-top: 200px; height: 300px;">
        <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 10%;">
        <div class="nav-footer">
          <nav>
            <ul class="navigation-footer">
              <h1>Информация</h1>
              <li><p>Публичная оферта</p></li>
              <li><p>Возврат товара</p></li>
              <li><p>Оплата</p></li>
              <li><p>Сервис и поддержка</p></li>
              <li><p>Как оформить доставку</p></li>
              <li><p>Таблица размеров</p></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <h1>Быстрые ссылки</h1>
              <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <h1>Ресурсы</h1>
              <li><p>Help</p></li>
              <li><p onclick="window.location='../templates/profile.html'">Личный кабинет</p></li>
            </ul>
          </nav>
        </div>
      </footer>
</body>
</html>