<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><a href="../templates/index.html">Главная</a></li>
            <li><a href="../templates/shop.html">Магазин</a></li>
            <li><a href="../templates/concert.html">Концерты</a></li>
            <li><a href="../templates/contact.html">Контакты</a></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="../static/img/purchase.png" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="../static/img/account.png" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="profile-container">
            <p class="user-email">lspofficial@yandex.ru</p>
            <div class="history-order">
                <p style="color: #000; font-size: 20px; margin: 0;">История заказов:</p>
                <div class="scrollable-container">
                    <div class="content">
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history-show">
                <p style="color: #000; font-size: 20px; margin: 0; padding-top: 10px;">История просмотров:</p>
                <div class="scrollable-container">
                    <div class="content">
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                        <div class="order-container">
                            <div class="order-image" style="background-image: url('../static/img/platie.png');"></div>
                            <div class="order-description">
                                <p style="font-size: 13px;">Футболка OVERSIZE<br> ЛСП-WHITE</p>
                                <p style="font-size: 13px;">Размер: S</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0; padding-top: 20px;">Кол-во: 1</p>
                                <p style="font-size: 13px; font-weight: bold; margin: 0;">Цена: 4300 ₽</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>    

    <footer style="margin-top: 200px; height: 300px;">
        <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 10%;">
        <div class="nav-footer">
          <nav>
            <ul class="navigation-footer">
              <p>Информация</p>
              <li><a href="#">Публичная оферта</a></li>
              <li><a href="#">Возврат товара</a></li>
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Сервис и поддержка</a></li>
              <li><a href="#">Как оформить доставку</a></li>
              <li><a href="#">Таблица размеров</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Быстрые ссылки</p>
              <li><a href="../templates/index.html">Главная</a></li>
              <li><a href="../templates/shop.html">Магазин</a></li>
              <li><a href="../templates/concert.html">Концерты</a></li>
              <li><a href="../templates/contact.html">Контакты</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Ресурсы</p>
              <li><a href="#">Help</a></li>
              <li><a href="../templates/profile.html">Личный кабинет</a></li>
            </ul>
          </nav>
        </div>
      </footer>
</body>
</html>