<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/shop.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="https://drive.google.com/uc?id=1jT3XRcriNJOa1ByymLdVV0-U9hiTLCP2" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="https://drive.google.com/uc?id=1IYTajJ87q9cucSeXSfdbsZsS_OEG_kGD" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1KStvgJYfcr3uGfrW1oF3K3oleWRi7-WZ');" onclick="window.location.href='../templates/category.html'">
            <div class="content">
                <h2>РАСПРОДАЖА</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=125noK8IeSmkejnvQFfLUMFJHKqty25gk');">
            <div class="content">
                <h2>ФУТБОЛКИ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1gQ-MfukMOTTckcHfN138yL9jgLRJFdEM');">
            <div class="content">
                <h2>СВИТШОТ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1S0qbJoovpnluWhFPqXGB10jBJUGBv1HA');">
            <div class="content">
                <h2>ХУДИ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1nO--W1C_NjvIXQE4MjGcBYnefZayyaZX');">
            <div class="content">
                <h2>ВЫШИВКА</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1GN_pR-KvBoox_20iZ04ElUwdE5RDla7n');">
            <div class="content">
                <h2>ПЛАТЬЕ "ЛСП"</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1u6JhX-eiFStKEt1VJLIPK3CZFlHgzSZN');">
            <div class="content">
                <h2>ГОЛОВНЫЕ УБОРЫ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1Z65Qv3o4Xvcy-itcta_2DaAKJizjrk7t');">
            <div class="content">
                <h2>ПОЛО</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('https://drive.google.com/uc?id=1pUBYZu4FWBxyCvuot-EGO2C_FX0B2JZ9');">
            <div class="content">
                <h2>АКСУССУАРЫ</h2>
            </div>
        </div>
    </main>

    <footer style="margin-top: 200px; height: 300px;">
      <img src="https://drive.google.com/uc?id=1Hh1sEgy4wRk8E_dG9eDBuZFSDv5hC8se" alt="Логотип" class="logo" style="width: 10%;">
      <div class="nav-footer">
        <nav>
          <ul class="navigation-footer">
            <h1>Информация</h1>
            <li><p>Публичная оферта</p></li>
            <li><p>Возврат товара</p></li>
            <li><p>Оплата</p></li>
            <li><p>Сервис и поддержка</p></li>
            <li><p>Как оформить доставку</p></li>
            <li><p>Таблица размеров</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Быстрые ссылки</h1>
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
          <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
          <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
          <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Ресурсы</h1>
            <li><p>Help</p></li>
            <li><p onclick="window.location='../templates/profile.html'">Личный кабинет</p></li>
          </ul>
        </nav>
      </div>
    </footer>
</body>
</html>