<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/shop.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><a href="../templates/index.html">Главная</a></li>
            <li><a href="../templates/shop.html">Магазин</a></li>
            <li><a href="../templates/concert.html">Концерты</a></li>
            <li><a href="../templates/contact.html">Контакты</a></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="../static/img/purchase.png" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="../static/img/account.png" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="category-container" style="background-image: url('../static/img/salemerch.png');" onclick="window.location.href='../templates/category.html'">
            <div class="content">
                <h2>РАСПРОДАЖА</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/fytbolka.jpg');">
            <div class="content">
                <h2>ФУТБОЛКИ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/svitshot.png');">
            <div class="content">
                <h2>СВИТШОТ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/hydi.png');">
            <div class="content">
                <h2>ХУДИ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/vishisvka.png');">
            <div class="content">
                <h2>ВЫШИВКА</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/platie.png');">
            <div class="content">
                <h2>ПЛАТЬЕ "ЛСП"</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/golova.png');">
            <div class="content">
                <h2>ГОЛОВНЫЕ УБОРЫ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/polo.png');">
            <div class="content">
                <h2>ПОЛО</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/aksessyari.png');">
            <div class="content">
                <h2>АКСУССУАРЫ</h2>
            </div>
        </div>
    </main>

    <footer style="margin-top: 200px; height: 300px;">
        <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 10%;">
        <div class="nav-footer">
          <nav>
            <ul class="navigation-footer">
              <p>Информация</p>
              <li><a href="#">Публичная оферта</a></li>
              <li><a href="#">Возврат товара</a></li>
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Сервис и поддержка</a></li>
              <li><a href="#">Как оформить доставку</a></li>
              <li><a href="#">Таблица размеров</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Быстрые ссылки</p>
              <li><a href="../templates/index.html">Главная</a></li>
              <li><a href="../templates/shop.html">Магазин</a></li>
              <li><a href="../templates/concert.html">Концерты</a></li>
              <li><a href="../templates/contact.html">Контакты</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation-footer">
              <p>Ресурсы</p>
              <li><a href="#">Help</a></li>
              <li><a href="../templates/profile.html">Личный кабинет</a></li>
            </ul>
          </nav>
        </div>
      </footer>  
</body>
</html>