<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неофициальный сайт группы ЛСП</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/shop.css">
</head>
<body>
    <header style="padding: 20px;">
        <div class="logo-container">
          <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 60px;" onclick="window.location.href='../templates/index.html'">
        </div>
        
        <nav>
          <ul class="navigation">
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
            <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
            <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
            <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        
        <div class="icons">
          <a href="../templates/cart.html" class="cart-icon"><img src="../static/img/purchase.png" alt="Корзина" style="width: 40px; margin-right: 5px;"></a>
          <p style="color: #fff; font-size: 20px; margin-right: 20px;">0₽</p>
          <a href="../templates/profile.html" class="profile-icon"><img src="../static/img/account.png" alt="Профиль" style="width: 40px;"></a>
        </div>
    </header>

    <main>
        <div class="category-container" style="background-image: url('../static/img/salemerch.png');" onclick="window.location.href='../templates/category.html'">
            <div class="content">
                <h2>РАСПРОДАЖА</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/fytbolka.jpg');">
            <div class="content">
                <h2>ФУТБОЛКИ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/svitshot.png');">
            <div class="content">
                <h2>СВИТШОТ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/hydi.png');">
            <div class="content">
                <h2>ХУДИ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/vishisvka.png');">
            <div class="content">
                <h2>ВЫШИВКА</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/platie.png');">
            <div class="content">
                <h2>ПЛАТЬЕ "ЛСП"</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/golova.png');">
            <div class="content">
                <h2>ГОЛОВНЫЕ УБОРЫ</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/polo.png');">
            <div class="content">
                <h2>ПОЛО</h2>
            </div>
        </div>
        <div class="category-container" style="background-image: url('../static/img/aksessyari.png');">
            <div class="content">
                <h2>АКСУССУАРЫ</h2>
            </div>
        </div>
    </main>

    <footer style="margin-top: 200px; height: 300px;">
      <img src="../static/img/logo.png" alt="Логотип" class="logo" style="width: 10%;">
      <div class="nav-footer">
        <nav>
          <ul class="navigation-footer">
            <h1>Информация</h1>
            <li><p>Публичная оферта</p></li>
            <li><p>Возврат товара</p></li>
            <li><p>Оплата</p></li>
            <li><p>Сервис и поддержка</p></li>
            <li><p>Как оформить доставку</p></li>
            <li><p>Таблица размеров</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Быстрые ссылки</h1>
            <li><p onclick="window.location='../templates/index.html'">Главная</p></li>
          <li><p onclick="window.location='../templates/shop.html'">Магазин</p></li>
          <li><p onclick="window.location='../templates/concert.html'">Концерты</p></li>
          <li><p onclick="window.location='../templates/contact.html'">Контакты</p></li>
          </ul>
        </nav>
        <nav>
          <ul class="navigation-footer">
            <h1>Ресурсы</h1>
            <li><p>Help</p></li>
            <li><p onclick="window.location='../templates/profile.html'">Личный кабинет</p></li>
          </ul>
        </nav>
      </div>
    </footer>
</body>
</html>